version4/flows.json
[
    {
        "id": "ecf0f11f47413270",
        "type": "tab",
        "label": "ESP32 Environment Control",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0df7d2728ae18e25",
        "type": "group",
        "z": "ecf0f11f47413270",
        "name": "Environmental Sensors Display",
        "style": {
            "label": true
        },
        "nodes": [
            "07b761d39ca28802",
            "e7ccffba49d61ccc",
            "6402f23046797874",
            "fc1e0c45658bc179",
            "temp_gauge",
            "humidity_gauge",
            "pressure_gauge",
            "altitude_gauge",
            "temp_chart",
            "humidity_chart",
            "pressure_chart",
            "altitude_chart"
        ],
        "x": 34,
        "y": 219,
        "w": 612,
        "h": 362
    },
    {
        "id": "07b761d39ca28802",
        "type": "mqtt in",
        "z": "ecf0f11f47413270",
        "g": "0df7d2728ae18e25",
        "name": "",
        "topic": "esp32/sensor/temperature",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "ce842d4e17c1ed98",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 260,
        "wires": [
            [
                "temp_gauge",
                "temp_chart",
                "0961da24521f6566"
            ]
        ]
    },
    {
        "id": "e7ccffba49d61ccc",
        "type": "mqtt in",
        "z": "ecf0f11f47413270",
        "g": "0df7d2728ae18e25",
        "name": "",
        "topic": "esp32/sensor/humidity",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "ce842d4e17c1ed98",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 320,
        "wires": [
            [
                "humidity_gauge",
                "humidity_chart",
                "3dfe951c8f262c65"
            ]
        ]
    },
    {
        "id": "fc1e0c45658bc179",
        "type": "mqtt in",
        "z": "ecf0f11f47413270",
        "g": "0df7d2728ae18e25",
        "name": "",
        "topic": "esp32/sensor/pressure",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "ce842d4e17c1ed98",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 380,
        "wires": [
            [
                "pressure_gauge",
                "pressure_chart",
                "ee0a1f979a4a3de5"
            ]
        ]
    },
    {
        "id": "6402f23046797874",
        "type": "mqtt in",
        "z": "ecf0f11f47413270",
        "g": "0df7d2728ae18e25",
        "name": "",
        "topic": "esp32/sensor/altitude",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "ce842d4e17c1ed98",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 440,
        "wires": [
            [
                "altitude_gauge",
                "altitude_chart",
                "4b61d1cfc84a807d"
            ]
        ]
    },
    {
        "id": "temp_gauge",
        "type": "ui_gauge",
        "z": "ecf0f11f47413270",
        "g": "0df7d2728ae18e25",
        "name": "",
        "group": "520eaee8138b48c9",
        "order": 1,
        "width": "6",
        "height": "6",
        "gtype": "donut",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "25",
        "seg2": "30",
        "diff": false,
        "className": "",
        "x": 360,
        "y": 260,
        "wires": []
    },
    {
        "id": "humidity_gauge",
        "type": "ui_gauge",
        "z": "ecf0f11f47413270",
        "g": "0df7d2728ae18e25",
        "name": "",
        "group": "520eaee8138b48c9",
        "order": 2,
        "width": "6",
        "height": "6",
        "gtype": "donut",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "30",
        "seg2": "60",
        "diff": false,
        "className": "",
        "x": 360,
        "y": 320,
        "wires": []
    },
    {
        "id": "pressure_gauge",
        "type": "ui_gauge",
        "z": "ecf0f11f47413270",
        "g": "0df7d2728ae18e25",
        "name": "",
        "group": "520eaee8138b48c9",
        "order": 3,
        "width": "6",
        "height": "6",
        "gtype": "donut",
        "title": "Pressure",
        "label": "hPa",
        "format": "{{value}}",
        "min": "900",
        "max": "1100",
        "colors": [
            "#ca3838",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "980",
        "seg2": "1020",
        "diff": false,
        "className": "",
        "x": 360,
        "y": 380,
        "wires": []
    },
    {
        "id": "altitude_gauge",
        "type": "ui_gauge",
        "z": "ecf0f11f47413270",
        "g": "0df7d2728ae18e25",
        "name": "",
        "group": "520eaee8138b48c9",
        "order": 4,
        "width": "6",
        "height": "6",
        "gtype": "donut",
        "title": "Altitude",
        "label": "m",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 360,
        "y": 440,
        "wires": []
    },
    {
        "id": "temp_chart",
        "type": "ui_chart",
        "z": "ecf0f11f47413270",
        "g": "0df7d2728ae18e25",
        "name": "",
        "group": "520eaee8138b48c9",
        "order": 5,
        "width": "12",
        "height": "6",
        "label": "Temperature History",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": "8",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff0000",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 560,
        "y": 260,
        "wires": [[]]
    },
    {
        "id": "humidity_chart",
        "type": "ui_chart",
        "z": "ecf0f11f47413270",
        "g": "0df7d2728ae18e25",
        "name": "",
        "group": "520eaee8138b48c9",
        "order": 6,
        "width": "12",
        "height": "6",
        "label": "Humidity History",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "8",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#0000ff",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 560,
        "y": 320,
        "wires": [[]]
    },
    {
        "id": "pressure_chart",
        "type": "ui_chart",
        "z": "ecf0f11f47413270",
        "g": "0df7d2728ae18e25",
        "name": "",
        "group": "520eaee8138b48c9",
        "order": 7,
        "width": "12",
        "height": "6",
        "label": "Pressure History",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "900",
        "ymax": "1100",
        "removeOlder": "8",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#00ff00",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 560,
        "y": 380,
        "wires": [[]]
    },
    {
        "id": "altitude_chart",
        "type": "ui_chart",
        "z": "ecf0f11f47413270",
        "g": "0df7d2728ae18e25",
        "name": "",
        "group": "520eaee8138b48c9",
        "order": 8,
        "width": "12",
        "height": "6",
        "label": "Altitude History",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "8",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff7f0e",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 560,
        "y": 440,
        "wires": [[]]
    },
    {
        "id": "9faa9371f82c9529",
        "type": "group",
        "z": "ecf0f11f47413270",
        "name": "Device Control",
        "style": {
            "label": true
        },
        "nodes": [
            "a6673494eacaf246",
            "9e5d78b2b5dd4d05",
            "523a24183688fffe",
            "autoModeSwitch",
            "heaterSwitch",
            "humidifierSwitch"
        ],
        "x": 34,
        "y": 599,
        "w": 412,
        "h": 182
    },
    {
        "id": "autoModeSwitch",
        "type": "ui_switch",
        "z": "ecf0f11f47413270",
        "g": "9faa9371f82c9529",
        "name": "",
        "label": "Auto Mode",
        "tooltip": "",
        "group": "da981a2896f66e34",
        "order": 1,
        "width": "6",
        "height": "1",
        "passthru": false,
        "decouple": "false",
        "topic": "mode/set",
        "topicType": "str",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "check_circle",
        "oncolor": "#4CAF50",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "cancel",
        "offcolor": "#f44336",
        "animate": false,
        "className": "",
        "x": 140,
        "y": 640,
        "wires": [
            [
                "a6673494eacaf246"
            ]
        ]
    },
    {
        "id": "heaterSwitch",
        "type": "ui_switch",
        "z": "ecf0f11f47413270",
        "g": "9faa9371f82c9529",
        "name": "",
        "label": "Heater",
        "tooltip": "",
        "group": "da981a2896f66e34",
        "order": 2,
        "width": "6",
        "height": "1",
        "passthru": false,
        "decouple": "false",
        "topic": "heater/set",
        "topicType": "str",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "power",
        "oncolor": "#4CAF50",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "power_off",
        "offcolor": "#f44336",
        "animate": false,
        "className": "",
        "x": 140,
        "y": 700,
        "wires": [
            [
                "9e5d78b2b5dd4d05"
            ]
        ]
    },
    {
        "id": "humidifierSwitch",
        "type": "ui_switch",
        "z": "ecf0f11f47413270",
        "g": "9faa9371f82c9529",
        "name": "",
        "label": "Humidifier",
        "tooltip": "",
        "group": "da981a2896f66e34",
        "order": 3,
        "width": "6",
        "height": "1",
        "passthru": false,
        "decouple": "false",
        "topic": "humidifier/set",
        "topicType": "str",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "opacity",
        "oncolor": "#4CAF50",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "opacity",
        "offcolor": "#f44336",
        "animate": false,
        "className": "",
        "x": 140,
        "y": 760,
        "wires": [
            [
                "523a24183688fffe"
            ]
        ]
    },
    {
        "id": "a6673494eacaf246",
        "type": "mqtt out",
        "z": "ecf0f11f47413270",
        "g": "9faa9371f82c9529",
        "name": "",
        "topic": "esp32/mode/set",
        "qos": "1",
        "retain": "",
        "broker": "ce842d4e17c1ed98",
        "x": 360,
        "y": 640,
        "wires": []
    },
    {
        "id": "9e5d78b2b5dd4d05",
        "type": "mqtt out",
        "z": "ecf0f11f47413270",
        "g": "9faa9371f82c9529",
        "name": "",
        "topic": "esp32/heater/set",
        "qos": "1",
        "retain": "",
        "broker": "ce842d4e17c1ed98",
        "x": 360,
        "y": 700,
        "wires": []
    },
    {
        "id": "523a24183688fffe",
        "type": "mqtt out",
        "z": "ecf0f11f47413270",
        "g": "9faa9371f82c9529",
        "name": "",
        "topic": "esp32/humidifier/set",
        "qos": "1",
        "retain": "",
        "broker": "ce842d4e17c1ed98",
        "x": 360,
        "y": 760,
        "wires": []
    },
    {
        "id": "cb87bea2c3abc1d4",
        "type": "group",
        "z": "ecf0f11f47413270",
        "name": "Database Storage",
        "style": {
            "label": true
        },
        "nodes": [
            "0961da24521f6566",
            "ee0a1f979a4a3de5",
            "3dfe951c8f262c65",
            "4b61d1cfc84a807d",
            "fa67faa15936619f",
            "5a4b463c8577fe40"
        ],
        "x": 774,
        "y": 499,
        "w": 672,
        "h": 262
    },
    {
        "id": "0961da24521f6566",
        "type": "mqtt in",
        "z": "ecf0f11f47413270",
        "g": "cb87bea2c3abc1d4",
        "name": "",
        "topic": "esp32/sensor/temperature",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "ce842d4e17c1ed98",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 880,
        "y": 540,
        "wires": [
            [
                "5a4b463c8577fe40"
            ]
        ]
    },
    {
        "id": "ee0a1f979a4a3de5",
        "type": "mqtt in",
        "z": "ecf0f11f47413270",
        "g": "cb87bea2c3abc1d4",
        "name": "",
        "topic": "esp32/sensor/pressure",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "ce842d4e17c1ed98",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 880,
        "y": 600,
        "wires": [
            [
                "5a4b463c8577fe40"
            ]
        ]
    },
    {
        "id": "3dfe951c8f262c65",
        "type": "mqtt in",
        "z": "ecf0f11f47413270",
        "g": "cb87bea2c3abc1d4",
        "name": "",
        "topic": "esp32/sensor/humidity",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "ce842d4e17c1ed98",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 880,
        "y": 660,
        "wires": [
            [
                "5a4b463c8577fe40"
            ]
        ]
    },
    {
        "id": "4b61d1cfc84a807d",
        "type": "mqtt in",
        "z": "ecf0f11f47413270",
        "g": "cb87bea2c3abc1d4",
        "name": "",
        "topic": "esp32/sensor/altitude",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "ce842d4e17c1ed98",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 880,
        "y": 720,
        "wires": [
            [
                "5a4b463c8577fe40"
            ]
        ]
    },
    {
        "id": "fa67faa15936619f",
        "type": "mysql",
        "z": "ecf0f11f47413270",
        "g": "cb87bea2c3abc1d4",
        "mydb": "ecbac3b738bfb9e1",
        "name": "MySQL Storage",
        "x": 1330,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "5a4b463c8577fe40",
        "type": "function",
        "z": "ecf0f11f47413270",
        "g": "cb87bea2c3abc1d4",
        "name": "Database Storage Handler",
        "func": "let sensor = context.get(\"sensor\") || {};\n\nswitch (msg.topic) {\n    case \"esp32/sensor/temperature\":\n        sensor.temperature = parseFloat(msg.payload);\n        break;\n    case \"esp32/sensor/humidity\":\n        sensor.humidity = parseFloat(msg.payload);\n        break;\n    case \"esp32/sensor/pressure\":\n        sensor.pressure = parseFloat(msg.payload);\n        break;\n    case \"esp32/sensor/altitude\":\n        sensor.altitude = parseFloat(msg.payload);\n        break;\n}\n\ncontext.set(\"sensor\", sensor);\n\nif (sensor.temperature !== undefined &&\n    sensor.humidity !== undefined &&\n    sensor.pressure !== undefined &&\n    sensor.altitude !== undefined) {\n    \n    let now = new Date();\n    now.setHours(now.getHours() + 7); // Vietnam timezone\n    let time = now.toISOString().slice(0, 19).replace(\"T\", \" \");\n\n    msg.topic = `INSERT INTO sensor_data (temperature, humidity, pressure, altitude, timestamp)\n                 VALUES (${sensor.temperature}, ${sensor.humidity}, ${sensor.pressure}, ${sensor.altitude}, '${time}')`;\n\n    context.set(\"sensor\", {}); // Reset after storing\n    return msg;\n}\n\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 660,
        "wires": [
            [
                "fa67faa15936619f"
            ]
        ]
    },
    {
        "id": "520eaee8138b48c9",
        "type": "ui_group",
        "name": "Environmental Data",
        "tab": "3fef2f01f1ae5d7c",
        "order": 1,
        "disp": true,
        "width": "25"
    },
    {
        "id": "da981a2896f66e34",
        "type": "ui_group",
        "name": "Device Control",
        "tab": "3fef2f01f1ae5d7c",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "ecbac3b738bfb9e1",
        "type": "MySQLdatabase",
        "name": "Environment DB",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "esp32_environment",
        "tz": "Asia/Ho_Chi_Minh",
        "charset": "UTF8"
    },
    {
        "id": "3fef2f01f1ae5d7c",
        "type": "ui_tab",
        "name": "ESP32 Environment Control",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ce842d4e17c1ed98",
        "type": "mqtt-broker",
        "name": "Local MQTT Broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true
    }
]
